form(action="", method="post")
    input(id="nombre" ,type="text", name="nombre", placeholder="nombre" )
    br
    br
    input(id="causa", type="text", name="causas", placeholder="causas?" )
    br
    br
    input(id="sintomas", type="text", name="sintomas", placeholder="SIntomas?" )
    br
    br
    input(id="Es_mortal", type="text", name="Es_mortal", placeholder="Es mortal?")
    br
    br
    input(id="registerbtn", type="submit", value="register enfermedad", formaction="")
    br
    br
    input(id="getbtn", type="submit", value="Get enfermedad", formaction="")
    br
    br
    input(id="delbtn", type="submit", value="Delete a enfermedad", formacion="")
    br
    br
    input(id="updatebtn", type="submit", value="Update a enfermedad", formacion="")